{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% block content %}

<section>
    <div class="top_content">
        <div class="title_content">
            <p>Danh sách văn bản chờ xác nhận</p>
            <span class="number_vb">{{numberUnsignepdfs}} văn bản</span>
        </div>
        
        <div id="btn-upload" class="btn_content">
            {% if user.is_uploader or user.is_admin    %}
            <div class="upload-btn-wrapper">
                <button class="btn btn-up">
                    <a href="#" class="dropbtn">
                        <img src="{% static 'image/add-vb_white.png'%} " alt="add-vb">
                    Tải tài liệu lên
                    </a>
                </button>
                <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}            
                <input type="file" name="document" id="document" onchange='this.form.submit()' /> 
                 </form>
                 
            </div>
            {% endif %}
            
        </div>
    </div>
    <div class="table_content">
        <table>
            <tr>
                <th>
                    STT
                </th>
                <th>Tên file</th>
                <th>Người tải lên</th>
                <th>Thời gian tải lên</th>
                <th>Xóa</th>
                <th>Tạo PDF</th>
            </tr>
            {%  for file in files%}
            <tr>
                <td class="td-action">
                    {{file.pk}}
                </td>
                <td class="td-filename"><a href="#"><img src="{% static 'image/icon-exl.png' %}" alt="document"></a><span>{{file.document|nameFileFilter}}</span></td>
                {% if file.upload_by %}
                <td>{{file.upload_by.full_name}}</td>
                {% else %}
                <td>{{............}}</td>
                {% endif %}
                <td>{{file.uploadTime|date:"d/m/Y"}},{{file.uploadTime|time:"H :i"}}</td>
                {% if file|checkSlaveFile  %}
                <td class="td-action"><button class="btn-clear" id="{{file.pk}}" onclick = "delete_file(this.id)" ><img src="{% static 'image/icon-clear.png'%}" alt="icon-clear"></button></td>
                <td class="td-action"><a href="#createPDF" id="{{file.pk}}"  onclick = "create_pdf_function(this.id)"><img src="{% static 'image/icon-pdf_blue.png'%}" alt="document" class="create-pdf"></a></td>
                {% else %}
                <td class="td-action"><button class="btn-clear" id="{{file.pk}}" onclick = "alert('Slavefiles already confirmed or sended')" ><img src="{% static 'image/icon-clear.png'%}" alt="icon-clear"></button></td>
                <td class="td-action"><a href="#createPDF" id="{{file.pk}}"  onclick = "create_pdf_function(this.id)"><img src="{% static 'image/icon-pdf_blue.png'%}" alt="document" class="create-pdf"></a></td>
                {% endif%}
                
            </tr>
            {% endfor %}
           
        </table>
    </div>
     <!-- Modal Create PDF -->
     <div id="createPDF" class="modal">
        {% comment %} <form> {% endcomment %}
            {% csrf_token %}
            <div class="modal__content">
                <div class="modal__title">
                    <img src="{% static 'image/icon-pdf.png' %}" alt="vb-sign">
                    <p class="title">Tạo PDF</p>          
                </div>
    
                <div class="modal__detail">
                    <div class="input_group">
                        <div class="input_item">
                            <p class="label">Danh mục</p>
                                <select class="select-category" multiple="multiple" name="loaict">
                                    <span id= "list-categories" >
                                        {% comment %} <option value="Công việc" data-badge="">Công việc</option>
                                        <option value="Hóa đơn" data-badge="">Hóa đơn</option> {% endcomment %}
                                    </span>
                                </select>
                           
                        </div>
                        <div class="input_item">
                            <p class="label">Loại Account</p>
                            <select class="select-account" multiple="multiple" name="accounts">
                                    {% comment %} <option value="Account 1" data-badge="">Account 1</option>
                                    <option value="Account 2" data-badge="">Account 2</option> {% endcomment %}
                
                            </select>
                        </div>
                        
                    </div>
                </div>
    
                
                <div class="modal__footer">
                    {% comment %} <button class="btn_cancel">Huỷ</button> {% endcomment %}
                    <button class="btn_save" id="create-pdf-modal">Tạo</button>
                </div>
                
                <a href="#" class="modal__close">&times;</a>
            </div>
        {% comment %} </form> {% endcomment %}
    </div>
   
 </section>
 <footer>
     <div class="copy-right">
         <p>&copy; <a href="https://pvssolution.com">pvssolution.com</a></p>
        </div>
</footer>
<!-- Modal Info -->
 {% comment %} <div id="info" class="modal">
    <form action="/" >
        {% csrf_token %}
        <div class="modal__content">
            <div class="modal__title">
                <img src="{% static 'image/UserList.png' %}" alt="UserList">
                <p>Thông tin tài khoản</p>          
            </div>

            <div class="modal__detail">
                <div class="user">
                    <span class="avarta_name">D</span>
                    <div class="info_name">
                        <p>Nguyễn Thanh Điền</p>
                        <small>User: 07/08/2022</small>
                    </div>
                </div>

                <div class="input_group">
                    <label for="full_name">
                        Họ và tên
                        <input type="text" name="full_name" placeholder="Họ và tên">
                    </label>
                    <label for="phone">
                        Số điện thoại
                        <input type="tel" id="numbPhone" name="phone" placeholder="909 999 999" >
                    </label>
                    <label for="email">
                        Email
                        <input type="email" name="email" placeholder="Nhập email" required>
                    </label>
                    <label for="passwd">
                        Mật khẩu
                        <div class="form-group has-feedback">
                            <input type="password" name="passwd" id="password" placeholder="Nhập mật khẩu">
                            <i class="showpass show-eye-open fas fa-eye"></i>
                          </div>
                    </label>
                </div>   
            </div>

            <div class="modal__title-child">
                <p>Thông tin công ty</p>          
            </div>
            <div class="modal__detail">
                <div class="input_group">
                    <label for="company_name">
                        Tên công ty
                        <input type="text" name="company_name" placeholder="Nhập tên công ty">
                    </label>
    
                    <label for="title_name">
                        Chức danh
                        <input type="text" name="title_name" placeholder="Nhập chức danh">
                    </label>
                    
                </div>   
            </div>
            <div class="modal__title-child">
                <p>Thông tin địa chỉ</p>          
            </div>
            <div class="modal__detail">
                <div class="input_group input_address">
                    <label for="company_address">
                        Địa chỉ
                        <input type="text" name="company_address" placeholder="Nhập thông tin địa chỉ">
                    </label>
                    
                </div>   
            </div>
            <div class="modal__footer">
                <button class="btn_cancel">Huỷ</button>
                <button class="btn_save">Lưu</button>
            </div>
            
            <a href="#" class="modal__close">&times;</a>
        </div>
    </form>
</div> {% endcomment %}
<!-- Modal Upload E-Sign -->
<div id="eSign" class="modal">
    <form action="/" >
        {% csrf_token %}
        <div class="modal__content">
            <div class="modal__title">
                <img src="{% static 'image/vb-sign.png' %}" alt="vb-sign">
                <p>Thêm chữ ký</p>          
            </div>

            <div class="modal__detail">
                <div class="user">
                    <span class="avarta_name">D</span>
                    <div class="info_name">
                        <p>Nguyễn Thanh Điền</p>
                        <small>User: 07/08/2022</small>
                    </div>
                </div>

                <div class="input_group">
                    <div class="upload-btn-wrapper">
                        <button class="btn">Upload chữ ký số</button>
                        <input type="file" name="myfile" />
                    </div>
                </div>   
            </div>

            
            <div class="modal__footer">
                <button class="btn_cancel">Huỷ</button>
                <button class="btn_save">Lưu</button>
            </div>
            
            <a href="#" class="modal__close">&times;</a>
        </div>
    </form>
</div>
<!-- Modal view PDF -->
<div id="viewPDF" class="modal">
    <form action="/" >
        {% csrf_token %}
        <div class="modal__content">
            <div class="modal__title">
                <i class="fa-solid fa-file-pdf"></i>
                <p>View file</p>          
            </div>

            <div class="modal__detail">
                <embed src="https://pvssolution.com/wp-content/uploads/2020/05/HDSD-PM-%C4%90%E1%BB%8CC-KQ-SI%C3%8AU-%C3%82M-HEALTHY-CARE.pdf" width="800" height="500" type="application/pdf"> 
            </div>

            
            <div class="modal__footer">
                <button class="btn_save">Xong</button>
            </div>
            
            <a href="#" class="modal__close">&times;</a>
        </div>
    </form>
</div>
 <!-- Modal Alarm -->
 <div id="aLarm" class="modal js-modal-open">
    <div class="modal-container js-modal-container">
        <div class="modal-close js-modal-close">
            <i class="ti-close"></i>
        </div>

        <header class="modal-header">
            <i class="fa-solid fa-bell"></i> Thông Báo
        </header>

        <div class="modal-body">
            <label for="quantity" class="modal-label">
                <i class="fa-solid fa-circle-check icon-success"></i>
                Thành công
            </label>
            <p class="modal-detail">
                <span class="modal-desc">Danh mục:</span> Primary, Claimback
            </p>
            <p class="modal-detail">
                <span class="modal-desc">Loại Account:</span> Vinmart, BHX
            </p>

            <label for="email" class="modal-label">
                <i class="fa-solid fa-circle-question icon-fail"></i>
                Không có dữ liệu
            </label>
            <p class="modal-detail">
                <span class="modal-desc">Danh mục:</span> Gift assignment
            </p>
            <p class="modal-detail">
                <span class="modal-desc">Loại Account:</span> Lan Chi, Lotte
            </p>

            <div class="btn-group">
                <button class="btn--success"> OK </button>
            </div>
        </div>

    </div>
</div> 
   
 <!-- JS -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/hideshowpassword/2.0.8/hideShowPassword.min.js"></script>
 <script>
    // toggle password visibility
    $('#password + .showpass').on('click', function() {
    $(this).toggleClass('show-eye-close').toggleClass('show-eye-open'); // toggle our classes for the eye icon
    $('#password').togglePassword(); // activate the hideShowPassword plugin
    });
 </script>
 <script type="text/javascript">
    $(function(){
        /*Check & uncheck all*/
        $(document).on('change', '.checkall', function(){
            var $_this = $(this);
            $('.checkitem').prop('checked', $_this.prop('checked'));
        });
    });
 </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</head>
 <script> // multi seclect
    $(".select-category").select2({
    closeOnSelect : false,
    placeholder : "Chọn danh mục",
    allowHtml: true,
    allowClear: true,
    tags: true
});
    $(".select-account").select2({
    closeOnSelect : false,
    placeholder : "Chọn loại account",
    allowHtml: true,
    allowClear: true,
    tags: true
});
 </script>
 <script src="{% static 'js/main.js' %}"></script>

<script>
    function test_create_pdf_function(id) {
        alert(id)
    }
</script>
<script>
    function create_pdf_function(id){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var postData = new FormData();
        postData.append("pk_excel", id);
        $.ajax({
            type: "post",
            url: "{% url 'KCTool:getListAccount' %}",
            data: postData,
            cache: false,
            processData:false,
            contentType: false,
            headers:{
                "X-CSRFToken": csrftoken
            },
            
            success: function(resp) {
                $(".select-category").html(`${resp.list_loaiCt}`)
                $(".select-account").html(`${resp.list_accounts}`)
            },
            error:function(xhr, status, error){            
                alert(status,error); 
                //window.location.replace(``);
            }
        }) //end ajax
        // click create pdf
        //ajax
        $('#create-pdf-modal').click(function(event){
         
            var options_category = $('.select-category option:selected');

            var values_category = $.map(options_category ,function(option) {
                return option.value;
            });
            var options_account = $('.select-account option:selected');

            var values_account = $.map(options_account ,function(option) {
                return option.value;
            });
            //alert(values_category)
            //alert(values_account)
            //event.stopImmediatePropagation();
            //event.preventDefault();
            
            var postData = new FormData();
            postData.append("pk_excel", id);
            postData.append("values_category", values_category);
            postData.append("values_account", values_account);
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                type: "post",
                url: "{% url 'KCTool:create_pdf' %}",
                data: postData,
                cache: false,
                processData:false,
                contentType: false,
                headers:{
                    "X-CSRFToken": csrftoken
                },
                
                success: function(resp) {
                    alert(resp.annouce)
                    window.location.replace(``);
                },
                error:function(xhr, status, error){            
                    alert(status,error); 
                    window.location.replace(``);
                }
            }) //end ajax
        })
    }
  
</script>

    <script>
        function alertttttttt() {
          alert("The form was submitted");
        }
        </script>
<script>
       
    function  warnning_delete(id){
    alert("You not allowed!!")
}

</script>

<script>
    function delete_file(id){
        var arr_pk_excel_file = [];
        var postData = new FormData();
        
        arr_pk_excel_file.push(id);
        
        postData.append("list_id_excel_file", arr_pk_excel_file);
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        if (postData){
            var result = confirm("Want to delete?");
            if (result) {
            //Logic to delete the item
            $.ajax({
                type: "post",
                url: "{% url 'KCTool:delete_file_excel' %}",
                data: postData,
                cache: false,
                processData:false,
                contentType: false,
                headers:{
                    "X-CSRFToken": csrftoken
                },
                
                success: function(resp) {
                    alert(resp.msg)
                    window.location.replace(``);
                },
                error:function(xhr, status, error){            
                    alert(status,error); 
                    //window.location.replace(``);
                }
            }) //end ajax
    }
    
        }
        
    }
    </script>
    <script>
        function upload(scope) {
            alert("I am an alert box!");
        }                       // the form, and not window
    </script>
{% endblock %}