{% extends 'base.html'%}
{% load static %}
{% load customtags%}
{% block content %}
<section>
    <div class="top_content">
        <div class="title_content">
            <p>Danh sách văn bản không quản lý</p>
           
        </div>
        <div class="btn_content">
            <button class="all-sign" " ><a href="#" onclick = "delete_file()"><img src="{% static 'image/icon-clear.png'%}" alt="icon-clear">Xóa</a></button>    
        </div>
    </div>
    <div class="table_content">
        <table>
            <tr>
                <th width="5%" >
                    <input type="checkbox" name="check_all" id="check_all" class="checkall">
                </th>
                <th width="20%">Account</th>
                    <!-- <option>Loại account</option>
                        {% for staff  in untrackedAccount%}
                        <option value="{{account}}"
                        {% if account == "{{account}}" %}
                            selected
                        {% endif %}>
                            {{account}}
                        </option>
                    {% endfor %}
                </select></th> -->
                <th width="10%">Tên</th>
                <th width="10%">Upload</th>
                <th width="10%">Sign</th>
                <th width="20%">Email</th>
            
                <th width="5%">ID</th>
            </tr>
            
                {% for staff in staffList %}
               
                <tr>
                <td>
                   
                    <input type="checkbox" name="check" value="{{pdf.pk}}" id="check" class="checkitem" group="pk_pdf_file">
                </td>   
                <td style="color:rgba(207, 7, 7, 0.779) ;font-weight: 900;">{% if staff|staffAccount %}
                    {% for account in staff|staffAccount %}
                        {{account}} <br>
                    {% endfor %}
                    {% endif %}
                </td>
                <td>{{staff.user_name}}</td>
                
                <td ><img src="{% static 'image/double-tick.png' %}" style="width:30px;height:30px;"></img></td>
                
                <td><img src="{% static 'image/double-tick.png' %}" style="width:30px;height:30px;"></img></td>
                <td>{{staff|staffProfileEmail}}</td>
                    
                
                <td><a href="{{ staff.get_user_url}} ">{{staff.pk}}</a></td>
                </tr>        
                {% endfor %}
          
        </table>
    </div>
    
 </section>
 <footer>
     <div class="copy-right">
         <p>&copy; <a href="https://pvssolution.com">pvssolution.com</a></p>
        </div>
</footer>
<div id="viewPDF" class="modal"  >
    
    <div class="modal__content">
        <div class="modal__title">
            <i class="fa-solid fa-file-pdf"></i>
            <p>View file</p>          
        </div>

        <div class="modal__detail">
            <span id="change_link_pdf">
             
            </span>
        </div>

        
        <div class="modal__footer">
            <a href="#" > <button class="btn_save">Xong</button></a>
        </div>
        <a href="#" class="modal__close">&times;</a>
       
    </div>

</div>

<!-- Modal Info -->
 <div id="info" class="modal">
    <form action="/" method="post">
        <div class="modal__content">
            <div class="modal__title">
                <img src="{% static 'image/UserList.png' %}" alt="UserList">
                <p>Thông tin tài khoản</p>          
            </div>

            <div class="modal__detail">
                <div class="user">
                    <span class="avarta_name">D</span>
                    <div class="info_name">
                        <p>Nguyễn Thanh Điền</p>
                        <small>User: 07/08/2022</small>
                    </div>
                </div>

                <div class="input_group">
                    <label for="full_name">
                        Họ và tên
                        <input type="text" name="full_name" placeholder="Họ và tên">
                    </label>
                    <label for="phone">
                        Số điện thoại
                        <input type="tel" id="numbPhone" name="phone" placeholder="909 999 999" >
                    </label>
                    <label for="email">
                        Email
                        <input type="email" name="email" placeholder="Nhập email" required>
                    </label>
                    <label for="passwd">
                        Mật khẩu
                        <div class="form-group has-feedback">
                            <input type="password" name="passwd" id="password" placeholder="Nhập mật khẩu">
                            <i class="showpass show-eye-open fas fa-eye"></i>
                          </div>
                    </label>
                </div>   
            </div>

            <div class="modal__title-child">
                <p>Thông tin công ty</p>          
            </div>
            <div class="modal__detail">
                <div class="input_group">
                    <label for="company_name">
                        Tên công ty
                        <input type="text" name="company_name" placeholder="Nhập tên công ty">
                    </label>
    
                    <label for="title_name">
                        Chức danh
                        <input type="text" name="title_name" placeholder="Nhập chức danh">
                    </label>
                    
                </div>   
            </div>
            <div class="modal__title-child">
                <p>Thông tin địa chỉ</p>          
            </div>
            <div class="modal__detail">
                <div class="input_group input_address">
                    <label for="company_address">
                        Địa chỉ
                        <input type="text" name="company_address" placeholder="Nhập thông tin địa chỉ">
                    </label>
                    
                </div>   
            </div>
            <div class="modal__footer">
                <button class="btn_cancel">Huỷ</button>
                <button class="btn_save">Lưu</button>
            </div>
            
            <a href="#" class="modal__close">&times;</a>
        </div>
    </form>
</div>
<!-- Modal Upload E-Sign -->
<div id="eSign" class="modal">
    <form action="/" method="post">
        {% csrf_token %}
        <div class="modal__content">
            <div class="modal__title">
                <img src="{% static 'image/vb-sign.png' %}" alt="vb-sign">
                <p>Thêm chữ ký</p>          
            </div>

            <div class="modal__detail">
                <div class="user">
                    <span class="avarta_name">D</span>
                    <div class="info_name">
                        <p>Nguyễn Thanh Điền</p>
                        <small>User: 07/08/2022</small>
                    </div>
                </div>

                <div class="input_group">
                    <div class="upload-btn-wrapper">
                        <button class="btn">Upload chữ ký số</button>
                        <input type="file" name="myfile" />
                    </div>
                </div>   
            </div>

            
            <div class="modal__footer">
                <button class="btn_cancel">Huỷ</button>
                <button class="btn_save">Lưu</button>
            </div>
            
            <a href="#" class="modal__close">&times;</a>
        </div>
    </form>
</div>

<script>
    function view_pdf_modal(id) {
        //alert(id)
        $("#change_link_pdf").html(`<embed src="${id}" width="1100" height="500" type="application/pdf">`)
    }

  
</script>
<script>
    function sign_all_pdf(){
        var arr_pk_pdf_file = [];
        var postData = new FormData();
        $.each($("input:checkbox[group='pk_pdf_file']:checked"), function(i){
            arr_pk_pdf_file.push($(this).val());
        });
        alert(arr_pk_pdf_file)
        
        postData.append("list_id_pdf_file", arr_pk_pdf_file);
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            type: "post",
            url: "{% url 'KCTool:confirm_pdf' %}",
            data: postData,
            cache: false,
            processData:false,
            contentType: false,
            headers:{
                "X-CSRFToken": csrftoken
            },
            
            success: function(resp) {
                alert("ok")
                window.location.replace(``);
            },
            error:function(xhr, status, error){            
                alert(status,error); 
                //window.location.replace(``);
            }
        }) //end ajax
    }
   
</script>
<script>
    function delete_file(){
        var arr_pk_pdf_file = [];
        var postData = new FormData();
        $.each($("input:checkbox[group='pk_pdf_file']:checked"), function(i){
            arr_pk_pdf_file.push($(this).val());
        });     
        postData.append("list_id_pdf_file", arr_pk_pdf_file);
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        if (postData){
            var result = confirm("Want to delete?");
            if (result) {
            //Logic to delete the item
            $.ajax({
                type: "post",
                url: "{% url 'KCTool:delete_file' %}",
                data: postData,
                cache: false,
                processData:false,
                contentType: false,
                headers:{
                    "X-CSRFToken": csrftoken
                },
                
                success: function(resp) {
                    alert(resp.msg)
                    window.location.replace(``);
                },
                error:function(xhr, status, error){            
                    alert(status,error); 
                    //window.location.replace(``);
                }
            }) //end ajax
    }
    
        }
        
    }
    </script>
    <script>
       
        function  warnning_delete(id){
        alert("You not allowed!!")
    }

    </script>
    <script>
        $(document).ready(function() {
            $("#account_type").change(function() {
                var account_id = $("#solved_by option:selected").val();
               
                console.log(account_id);
               
            });     
        }); // end ready
    </script>    
    <script>
        $(document).ready(function() {
            $("#account").change(function() {
                var account = $("#account option:selected").val();
                console.log(account);
                var url = "{% url 'KCTool:newCreatedDocs' %}?";
                if (account !== "Loại account") {
                    url += "&account=" + account;
                }
                
                console.log(url);
                
                
                window.location.replace(url);
                // form.submit();
            });          
        }); // end ready
        </script>    
{% endblock %}