{% load static %}
{% load customtags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Psign KC</title>
    <link rel="icon" href="{% static 'image/P-sign_logo_blue.png' %}" type="image/gif" sizes="16x16" />
    <style>
        
        .modal_loading {
            position: fixed;
            background-color: rgba(255, 255, 255, 0.878);
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999;
            transition: all 0.3s;
        }
        
        .modal_loading-content {
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
            background: transparent;
        }
        @keyframes follow-the-leader {
            0% {
                -webkit-transform: rotate(0deg) translateY(-200%);
                transform: rotate(0deg) translateY(-200%);
            }
            60%,
            100% {
                -webkit-transform: rotate(360deg) translateY(-200%);
                transform: rotate(360deg) translateY(-200%);
            }
        }
        
        .follow-the-leader {
            height: 14px;
            position: relative;
            margin: 30px auto;
            width: 14px;
        }
        
        .follow-the-leader div {
            -webkit-animation: follow-the-leader 1.875s infinite backwards;
            animation: follow-the-leader 1.875s infinite backwards;
            background-color: #003a8c;
            border-radius: 100%;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        
        .follow-the-leader div:nth-child(1) {
            -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
            background-color: rgba(45, 35, 244, 0.9);
        }
        
        .follow-the-leader div:nth-child(2) {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
            background-color: rgba(45, 35, 244, 0.8);
        }
        
        .follow-the-leader div:nth-child(3) {
            -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
            background-color: rgba(45, 35, 244, 0.7);
        }
        
        .follow-the-leader div:nth-child(4) {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
            background-color: rgba(45, 35, 244, 0.6);
        }
        
        .follow-the-leader div:nth-child(5) {
            -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
            background-color: rgba(45, 35, 244, 0.5);
        }
        #viewPDF .modal__content {
    border-radius: 5px;
    position: relative;
    width: 1115px;
    max-width: 100%;
    background: #fff;
}   


    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!-- CSS -->
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" integrity="sha512-aD9ophpFQ61nFZP6hXYu4Q/b/USW7rpLCQLX6Bi0WJHXNO7Js/fUENpBQf/+P4NtpzNX0jSgR5zVvPOJp+W2Kg==" crossorigin="anonymous" referrerpolicy="no-referrer"
     />
     <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body {% if active_id == 6 %}  
id="page--manage"
{% elif  active_id == 8 %} 
id="page--delete"
{% elif  active_id > 1 %}  id="page--sub" {% endif %}>
    <div class="sidebar open">
        <div class="toggle">
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="logo">
            <a href="{% url 'KCTool:kcToolPage' %}"><img src="{% static 'image/P-sign_logo_white.png' %}" alt="logo" /></a>
            <h3>Kimberly-Clark</h3>
        </div>
        <nav>
            <!-- <div class="nav-title">Management</div> -->
            <div id="navLink">
                <a class="nav-item nav-link 
                {% if active_id == 1 %}
                active
            {% endif %}" href="{% url 'KCTool:kcToolPage' %}">
                    <i class="fas fa-file-excel fix-size"></i>
                    <span>File Excel</span>
                </a>

                <a class="nav-item nav-link dropdown-btn">
                    <i class="fa-solid fa-folder-open"></i>
                    <span>Quản lý văn bản</span>
                    <i class="fas fa-angle-down icon-dropdown"></i>
                </a>
                <ul class="sub-menu">
                    <li class="sub-item nav-link
                    {% if active_id == 2 %}
                    active
                    {% endif %}">
                        <a href="{% url 'KCTool:newCreatedDocs' %}">
                            <i class="fa-solid fa-file-circle-exclamation"></i>
                            <span>Văn bản chờ xác nhận</span>
                        </a>
                    </li>
                    <li class="sub-item nav-link
                    {% if active_id == 3 %}
                    active
                    {% endif %}">
                        <a href="{% url 'KCTool:confirmedDocs' %}">
                            <i class="fas fa-file-circle-check"></i>
                            <span>Văn bản đã xác nhận</span>
                        </a>
                    </li>
                    <li class="sub-item nav-lin
                    {% if active_id == 4 %}
                    active
                    {% endif %}">
                        <a href="{% url 'KCTool:signedDocs' %}">
                            <i class="fas fa-file-signature"></i>
                            <span>Văn bản đã ký</span>
                        </a>
                    </li>
                    <li class="sub-item nav-link
                    {% if active_id == 5 %}
                    active
                    {% endif %}">
                        <a href="{% url 'KCTool:untrackedDocs' %}">
                            <i class="fa-solid fa-file-circle-question"></i>
                            <span>Văn bản chưa được quản lý</span>
                        </a>
                    </li>
                </ul>
                {% if user.is_admin %}
                <a class="nav-item nav-link" href="{% url 'KCTool:staffManager' %}">
                    <i class="fa-solid fa-users"></i>
                    <span>Quản lý nhân sự</span>
                </a>
                {% endif %}
                <hr />
                <!-- <div class="nav-title">Supports</div> -->

                <a class="nav-item nav-link" href="{% url 'KCTool:info_page' %}">
                    <i class="fa-sharp fa-solid fa-circle-info"></i>
                    <span>Thông tin hỗ trợ</span>
                </a>
            </div>
        </nav>
    </div>

    <div class="main-content open">
        <div class="header-content">
            <!-- <div class="header-title">
                <h3>File Excel tải lên</h3>
                <span>34</span>
            </div> -->
            {% block title %}
            {% endblock %}
            <div class="header-info header-dropdown">
                <button onclick="dropDownInfo()" class="btn-info">
            <img
              class="dropbtn"
              src="{% static 'image/avatar-icon-blue.png' %}"
              alt="avatar-icon"
            />

            <i class="fa-solid fa-angle-down dropbtn"></i>
          </button>

                <div id="navDropdown" class="dropdown-content">
                    <a href="#info" class="info">
                        <i class="fa-solid fa-user-gear icon-file"></i> Thông tin tài khoản
                    </a>
                    <a href="#eSign" class="esign">
                        <i class="fa-solid fa-file-lines icon-file"></i> Xuất log
                    </a>
                    <hr class="hr_submenu" />
                    <a href="{% url 'user:logout' %}" class="logout">
                        <i class="fa-solid fa-right-from-bracket icon-file"></i> Đăng xuất
                    </a>
                </div>
            </div>
        </div>
       
        {% block content %}
        {% endblock %}
   
    
</div>
    <footer>
        <div class="copy-right">
            <p>&copy; <a href="https://pvssolution.com">pvssolution.com</a></p>
        </div>
    </footer>
    
    <!-- Modal Create PDF -->
    <div id="createPDF" class="modal modal-open-pdf" style="z-index: 2;">
        {% comment %} <form> {% endcomment %}
            <div class="modal-container modal-container-pdf">
                <div class="modal-header ">
                    <i class="fa-regular fa-file-pdf"></i>
                    <p class="title">Tạo PDF</p>
                </div>

                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-item">
                            <p class="modal-label">Danh mục</p>
                            <select class="select-category" multiple="multiple">
                                {% comment %}
                                    <option value="Công việc" data-badge="">Công việc</option>
                                    <option value="Hóa đơn" data-badge="">Hóa đơn</option>
                                    <option value="Khách hàng VIP" data-badge="">Khách hàng VIP</option>
                                    <option value="Khách hàng tiềm năng" data-badge="">Khách hàng tiềm năng</option>
                                    <option value="Văn bản ký" data-badge="">Văn bản ký</option>{% endcomment %}
                    
                            </select>
                        </div>
                        <div class="input-item">
                            <p class="modal-label">Loại Account</p>
                            <select class="select-account" multiple="multiple">
                                {% comment %}
                                    <option value="All">Tất cả</option>
                                    <option value="Ecom">Ecom</option>
                                    <option value="Toan Thi">Toan Thi</option>
                                    <option value="E-MART">E-MART</option>
                                    <option value="Emart Sala">Emart Sala</option>
                                    <option value="Vnshop">Vnshop</option>
                                    <option value="Tiki">Tiki</option>
                                    <option value="Shopee">Shopee</option>{% endcomment %}
                    
                                </select>
                        </div>

                    </div>
                </div>
                <hr>
                <div class="modal-footer">
                    <button class="btn--primary" id="create-pdf-modal">Tạo file</button>
                </div>

                <a href="#" class="modal-close modal-close-pdf">&times;</a>
            </div>
        </form>
    </div>

    <!-- Modal Info -->
    <div id="info" class="modal">
    {% get_info_profile request.user as result %}
    {% comment %} <form action="/" method="post"> {% endcomment %}
            <div class="modal__content">
                <div class="modal__title">
                    <img src="{% static 'image/UserList.png' %}" alt="UserList">
                    <p>Thông tin tài khoản</p>
                </div>

                <div class="modal__detail">
                    <div class="user">
                        <span class="avarta_name">D</span>
                        <div class="info_name">
                            <p>{{result.profile.full_name}}</p>
                            <small>User: {{result.profile.user.user_name}}</small>
                        </div>
                    </div>

                    <div class="input_group">
                        <label class="input_title" for="full_name">
                            Họ và tên
                            <input class="input_item" type="text" name="full_name" placeholder="Họ và tên" value="{{result.profile.full_name}}" id="full_name">
                        </label>
                        <label class="input_title" for="phone">
                            Số điện thoại
                            <input class="input_item" type="tel" id="numbPhone" name="phone" placeholder="0909 999 999" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{result.profile.phone_number}}" id="phone_number">
                        </label>
                        <label class="input_title" for="email">
                            Email
                            <input class="input_item" type="email" name="email" placeholder="Nhập email" required value="{{result.profile.email}}" id="email">
                        </label>
                        <label class="input_title" for="passwd">
                            Mật khẩu
                            <div class="form-group has-feedback">
                                <input class="input_item" type="password" name="passwd" id="password" placeholder="Nhập mật khẩu">
                                <i class="showpass show-eye-open fas fa-eye"></i>
                              </div>
                        </label>
                    </div>
                </div>

                <div class="modal__title-child">
                    <p>Thông tin công ty</p>
                </div>
                <div class="modal__detail">
                    <div class="input_group">
                        <label class="input_title" for="company_name">
                            Tên công ty
                            <input class="input_item" type="text" name="company_name" placeholder="Nhập tên công ty" {% if result.profile.company_name != "None"  %} value="{{result.profile.company_name}}" {% endif %}id="company_name">
                        </label>

                        <label class="input_title" for="title_name">
                            Chức danh
                            <input class="input_item" type="text" name="title_name" placeholder="Nhập chức danh" {% if result.profile.position != "None"  %} value="{{result.profile.position}}"  {% endif %}" id="position" >
                        </label>

                    </div>
                </div>
                <div class="modal__title-child">
                    <p>Thông tin địa chỉ</p>
                </div>
                <div class="modal__detail">
                    <div class="input_group input_address">
                        <label class="input_title" for="company_address">
                            Địa chỉ
                            <input class="input_item" type="text" name="company_address" placeholder="Nhập thông tin địa chỉ" {% if result.profile.address != "None"  %} value="{{result.profile.address}}"  {% endif %}  id="address">
                        </label>

                    </div>
                </div>
                <div class="modal__footer">
                    <button class="btn--secondary">Huỷ</button>
                    <button class="btn--primary ml-5" id="save-info-profile">Lưu</button>
                </div>

                <a href="#" class="modal__close">&times;</a>
            </div>
            {% comment %} </form> {% endcomment %}
    </div>

    <!-- Modal Upload E-Sign -->
    <div id="eSign" class="modal">
        <form action="{% url 'KCTool:signedDocs' %}?" method="GET">
            <div class="modal__content">
                <div class="modal__title">
                    <i class="far fa-file-alt icon-file"></i>
                    <p> Xuất log</p>
                </div>
                <div class="modal__detail">
                    <div class="input_group">
                        <div class="input-date">
                            Từ <input type="date" id="fromdate2" name="fromdate2" value="{{ fromdate2 }}"> đến <input type="date" id="todate2" name="todate2" value="{{ todate2 }}">
                        </div>
                    </div>
                </div>
                <div class="modal__footer">
                    <button type="submit" class="btn--primary">Xuất</button>
                </div>
                <a href="#" class="modal__close">&times;</a>
            </div>
        </form>
    </div>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js" integrity="sha512-4MvcHwcbqXKUHB6Lx3Zb5CEAVoE9u84qN+ZSMM6s7z8IeJriExrV3ND5zRze9mxNlABJ6k864P/Vl8m0Sd3DtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // multi seclect
        $(".select-category").select2({
            closeOnSelect: false,
            placeholder: "Chọn danh mục",
            allowHtml: true,
            allowClear: true,
            tags: true
        });
        $(".select-account").select2({
            closeOnSelect: false,
            placeholder: "Chọn loại account",
            allowHtml: true,
            allowClear: true,
            tags: true
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hideshowpassword/2.0.8/hideShowPassword.min.js"></script>
    <script>
        // toggle password visibility
        $('#password + .showpass').on('click', function() {
            $(this).toggleClass('show-eye-close').toggleClass('show-eye-open'); // toggle our classes for the eye icon
            $('#password').togglePassword(); // activate the hideShowPassword plugin
        });
    </script>
<script>
    $('#save-info-profile').on('click', function(){
        var full_name = $("#full_name").val()
        var phone_number = $("#phone_number").val()
        var email = $("#email").val()
        var company_name = $("#company_name").val()
        var position = $("#position").val()
        var address = $("#address").val()
        var postData = new FormData();
        postData.append("full_name", full_name);
        postData.append("phone_number", phone_number);
        postData.append("email", email);
        postData.append("company_name", company_name);
        postData.append("position", position);
        postData.append("address", address);
        var csrftoken = '{{ csrf_token }}';
        $.ajax({
            type: "post",
            url: "{% url 'KCTool:update_profile' %}",
            data: postData,
            cache: false,
            processData:false,
            contentType: false,
            headers:{
                "X-CSRFToken": csrftoken
            },
            
            success: function(resp) {
                alert("success")
                
            },
            error:function(xhr, status, error){            
                alert(status,error); 
                //window.location.replace(``);
            }
        }) //end ajax

    })
 </script>
 <script>
    $(document).ready(function() {  
         $("#actlog").click(function(){        
             var fromdate = $("#fromdate2").val();
             var todate = $("#todate2").val();
             var url = "{% url 'KCTool:signedDocs' %}?";
             
             if (fromdate !== "") {
                 url += "&key_word=" + fromdate;
             }
             if (todate !== "") {
                 url += "&key_word=" + todate;
             }
             console.log(url);      
             window.location.replace(url);
         })
         
     }); // end ready
    
 </script> 
 <script>
    function create_pdf_function(id){
        var csrftoken = '{{ csrf_token }}';
        var postData = new FormData();
        postData.append("pk_excel", id);
        $.ajax({
            type: "post",
            url: "{% url 'KCTool:getListAccount' %}",
            data: postData,
            cache: false,
            processData:false,
            contentType: false,
            headers:{
                "X-CSRFToken": csrftoken
            },
            
            success: function(resp) {
                $(".select-category").html(`${resp.list_loaiCt}`)
                $(".select-account").html(`${resp.list_accounts}`)
            },
            error:function(xhr, status, error){            
                alert(status,error); 
                //window.location.replace(``);
            }
        }) //end ajax
        // click create pdf
        //ajax
        $('#create-pdf-modal').click(function(event){
         
            var options_category = $('.select-category option:selected');

            var values_category = $.map(options_category ,function(option) {
                return option.value;
            });
            var options_account = $('.select-account option:selected');

            var values_account = $.map(options_account ,function(option) {
                return option.value;
            });
            //alert(values_category)
            //alert(values_account)
            //event.stopImmediatePropagation();
            //event.preventDefault();
            
            var postData = new FormData();
            postData.append("pk_excel", id);
            postData.append("values_category", values_category);
            postData.append("values_account", values_account);
            var csrftoken = '{{ csrf_token }}';
            $.ajax({
                type: "post",
                url: "{% url 'KCTool:create_pdf' %}",
                data: postData,
                cache: false,
                processData:false,
                contentType: false,
                headers:{
                    "X-CSRFToken": csrftoken
                },
                beforeSend: function() {
                    $('body').append('<div class="modal_loading"> <div class="modal_loading-content"><div class="follow-the-leader"><div></div><div></div><div></div><div></div></div></div></div>');
                },
                success: function(resp) {
                    alert(resp.annouce)
                    window.location.replace(``);
                },
                error:function(xhr, status, error){            
                    alert(status,error); 
                    window.location.replace(``);
                }
            }) //end ajax
        })
    }
  
</script>
<script>
function delete_excel(id){
    var arr_pk_excel_file = [];
    var postData = new FormData();
    
    arr_pk_excel_file.push(id);
    
    postData.append("list_id_excel_file", arr_pk_excel_file);
    var csrftoken = '{{ csrf_token }}';
    if (postData){
        var result = confirm("Want to delete?");
        if (result) {
        //Logic to delete the item
        $.ajax({
            type: "post",
            url: "{% url 'KCTool:delete_file_excel' %}",
            data: postData,
            cache: false,
            processData:false,
            contentType: false,
            headers:{
                "X-CSRFToken": csrftoken
            },
            
            success: function(resp) {
                alert(resp.msg)
                window.location.replace(``);
            },
            error:function(xhr, status, error){            
                alert(status,error); 
                //window.location.replace(``);
            }
        }) //end ajax
}

    }
    
}
</script>
<script src="{% static 'js/menu.js' %} "></script>
<script src="{% static 'js/modal.js' %} "></script>
<script src="{% static 'js/script.js' %} "></script>
<script src="{% static 'js/checked.js' %} "></script>
<script src="{% static 'js/filter.js' %} "></script>
<script src="{% static 'js/boxmanage.js' %} "></script>
</body>
</html>