
{% extends 'base.html'%}
{% load static %}
{% load customtags%}
{% block title %}
<div class="header-title">
    <h3>File Excel tải lên</h3>
    <span>{{num_files}}</span>
</div>
{% endblock %}
{% block content %}
<section class="content" id="style-scroll-content">
            <div class="top-content">
                <div id="btn-upload" class="btn-content">
                    <div class="upload-btn-wrapper">
                        {% if user.is_admin or user.is_uploader %}
                        <button class="btn"  >
                            <span>+</span>
                            Tải tài liệu lên
                        </button>
                        <input type="file" name="Excel_File" id="Excel_File" />
                        {% else %}
                        <button class="btn" disabled >
                            <span>+</span>
                            Tải tài liệu lên
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="table-content" id="style-scroll-table">
                <table>
                    <tr>
                        <th style="width: 5%;">STT</th>
                        <th style="width: 40%;text-align: start;">Tên file</th>
                        <th style="width: 20%;text-align: start;">Người tải lên</th>
                        <th style="width: 15%;">Thời gian tải lên</th>
                        <th style="width: 20%;">Thao tác</th>
                    </tr>
                    {%  for file in files %}
                    <tr>
                        <td class="td-center">{{file.pk}}</td>
                        <td class="td-filename">
                            <a href="#" class="filename-link">
                                <img src="{% static 'image/icon-exl.png' %} " alt="document" />
                                <span title="{{file.document|nameFileFilter}}">{{file.document|nameFileFilter}}
                                </span>
                            </a>
                        </td>
                        <td>{{file.upload_by.full_name}}</td>
                        <td class="td-center">{{file.uploadTime|date:"d/m/Y"}} {{file.uploadTime|time:"H:i"}}</td>
                        <td class="td-center">
                            {% if file|checkSlaveFile  %}
                            <button class="btn-clear" title="Xóa file" style="transform: none;" disabled>
                                <i class="fa-regular fa-trash-can icon-trash" style="color:#7a8377" ></i>
                            </button>
                            {% else %}
                            <button class="btn-clear" title="Xóa file" id="{{file.pk}}" onclick = "delete_excel(this.id)" >
                                <i class="fa-regular fa-trash-can icon-trash" ></i>
                            </button>
                            {% endif %}
                            <button class="modal-btn-pdf" title="Tạo PDF">
                                <a href="#createPDF" id="{{file.pk}}"  onclick = "create_pdf_function(this.id)"><i class="fa-regular fa-file-pdf icon-pdf"></i></i></a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
        <script>
            var input = document.querySelector('#Excel_File');
            input.addEventListener('input', updateValue);
            function updateValue(e) {
                var form_data = new FormData();
                var file= $("#Excel_File")[0].files[0];
                form_data.append("Excel_File", file);
                
                var csrftoken ='{{ csrf_token }}';
                $.ajax({
                        type: "post",
                        url: "{% url 'KCTool:kcToolPage' %}",
                        data: form_data,
                        cache: false,
                        processData:false,
                        contentType: false,
                        headers:{
                            "X-CSRFToken": csrftoken
                        },     
                        beforeSend: function() {
                            $('body').append('<div class="modal_loading"> <div class="modal_loading-content"><div class="follow-the-leader"><div></div><div></div><div></div><div></div></div></div></div>');
                        },
                        success: function() {
                            
                            window.location.replace(``);
                        },
                        error:function(xhr, status, error){            
                            alert(status,error); 
                            window.location.replace(``);
                            //window.location.replace(``);
                        }
                    }) //end ajax
                
        }
        </script>
{% endblock %}
 
        